.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.grid.grid-cols-none {
  -ms-grid-columns: none;
      grid-template-columns: none;
}

.grid.grid-cols-1 {
  -ms-grid-columns: (minmax(0, 1fr))[1];
      grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid.grid-cols-2 {
  -ms-grid-columns: (minmax(0, 2fr))[2];
      grid-template-columns: repeat(2, minmax(0, 2fr));
}

.grid.grid-cols-3 {
  -ms-grid-columns: (minmax(0, 3fr))[3];
      grid-template-columns: repeat(3, minmax(0, 3fr));
}

.grid.grid-cols-4 {
  -ms-grid-columns: (minmax(0, 4fr))[4];
      grid-template-columns: repeat(4, minmax(0, 4fr));
}

.grid.grid-cols-5 {
  -ms-grid-columns: (minmax(0, 5fr))[5];
      grid-template-columns: repeat(5, minmax(0, 5fr));
}

.grid.grid-cols-6 {
  -ms-grid-columns: (minmax(0, 6fr))[6];
      grid-template-columns: repeat(6, minmax(0, 6fr));
}

.grid.grid-cols-7 {
  -ms-grid-columns: (minmax(0, 7fr))[7];
      grid-template-columns: repeat(7, minmax(0, 7fr));
}

.grid.grid-cols-8 {
  -ms-grid-columns: (minmax(0, 8fr))[8];
      grid-template-columns: repeat(8, minmax(0, 8fr));
}

.grid.grid-cols-9 {
  -ms-grid-columns: (minmax(0, 9fr))[9];
      grid-template-columns: repeat(9, minmax(0, 9fr));
}

.grid.grid-cols-10 {
  -ms-grid-columns: (minmax(0, 10fr))[10];
      grid-template-columns: repeat(10, minmax(0, 10fr));
}

.grid.grid-cols-11 {
  -ms-grid-columns: (minmax(0, 11fr))[11];
      grid-template-columns: repeat(11, minmax(0, 11fr));
}

.grid.grid-cols-12 {
  -ms-grid-columns: (minmax(0, 12fr))[12];
      grid-template-columns: repeat(12, minmax(0, 12fr));
}

.grid.gap-0 {
  gap: 0rem;
}

.grid.gap-x-0 {
  -webkit-column-gap: 0rem;
          column-gap: 0rem;
}

.grid.gap-y-0 {
  row-gap: 0rem;
}

.grid.gap-1 {
  gap: 0.4rem;
}

.grid.gap-x-1 {
  -webkit-column-gap: 0.4rem;
          column-gap: 0.4rem;
}

.grid.gap-y-1 {
  row-gap: 0.4rem;
}

.grid.gap-2 {
  gap: 0.8rem;
}

.grid.gap-x-2 {
  -webkit-column-gap: 0.8rem;
          column-gap: 0.8rem;
}

.grid.gap-y-2 {
  row-gap: 0.8rem;
}

.grid.gap-3 {
  gap: 1.2rem;
}

.grid.gap-x-3 {
  -webkit-column-gap: 1.2rem;
          column-gap: 1.2rem;
}

.grid.gap-y-3 {
  row-gap: 1.2rem;
}

.grid.gap-4 {
  gap: 1.6rem;
}

.grid.gap-x-4 {
  -webkit-column-gap: 1.6rem;
          column-gap: 1.6rem;
}

.grid.gap-y-4 {
  row-gap: 1.6rem;
}

.grid.gap-5 {
  gap: 2rem;
}

.grid.gap-x-5 {
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.grid.gap-y-5 {
  row-gap: 2rem;
}

.grid.gap-6 {
  gap: 2.4rem;
}

.grid.gap-x-6 {
  -webkit-column-gap: 2.4rem;
          column-gap: 2.4rem;
}

.grid.gap-y-6 {
  row-gap: 2.4rem;
}

.grid.gap-7 {
  gap: 2.8rem;
}

.grid.gap-x-7 {
  -webkit-column-gap: 2.8rem;
          column-gap: 2.8rem;
}

.grid.gap-y-7 {
  row-gap: 2.8rem;
}

.grid.gap-8 {
  gap: 3.2rem;
}

.grid.gap-x-8 {
  -webkit-column-gap: 3.2rem;
          column-gap: 3.2rem;
}

.grid.gap-y-8 {
  row-gap: 3.2rem;
}

.grid.gap-9 {
  gap: 3.6rem;
}

.grid.gap-x-9 {
  -webkit-column-gap: 3.6rem;
          column-gap: 3.6rem;
}

.grid.gap-y-9 {
  row-gap: 3.6rem;
}

.grid.gap-10 {
  gap: 4rem;
}

.grid.gap-x-10 {
  -webkit-column-gap: 4rem;
          column-gap: 4rem;
}

.grid.gap-y-10 {
  row-gap: 4rem;
}

.grid.gap-11 {
  gap: 4.4rem;
}

.grid.gap-x-11 {
  -webkit-column-gap: 4.4rem;
          column-gap: 4.4rem;
}

.grid.gap-y-11 {
  row-gap: 4.4rem;
}

.grid.gap-12 {
  gap: 4.8rem;
}

.grid.gap-x-12 {
  -webkit-column-gap: 4.8rem;
          column-gap: 4.8rem;
}

.grid.gap-y-12 {
  row-gap: 4.8rem;
}

.grid .col-auto {
  grid-column: auto;
}

.grid .col-start-auto {
  -ms-grid-column: auto;
      grid-column-start: auto;
}

.grid .col-end-auto {
  grid-column-end: auto;
}

.grid .col-span-full {
  grid-column: 1/-1;
}

.grid .col-span-0 {
  display: none;
}

.grid .col-span-1 {
  display: block;
  grid-column: span 1/span 1;
}

.grid .col-span-2 {
  display: block;
  grid-column: span 2/span 2;
}

.grid .col-span-3 {
  display: block;
  grid-column: span 3/span 3;
}

.grid .col-span-4 {
  display: block;
  grid-column: span 4/span 4;
}

.grid .col-span-5 {
  display: block;
  grid-column: span 5/span 5;
}

.grid .col-span-6 {
  display: block;
  grid-column: span 6/span 6;
}

.grid .col-span-7 {
  display: block;
  grid-column: span 7/span 7;
}

.grid .col-span-8 {
  display: block;
  grid-column: span 8/span 8;
}

.grid .col-span-9 {
  display: block;
  grid-column: span 9/span 9;
}

.grid .col-span-10 {
  display: block;
  grid-column: span 10/span 10;
}

.grid .col-span-11 {
  display: block;
  grid-column: span 11/span 11;
}

.grid .col-span-12 {
  display: block;
  grid-column: span 12/span 12;
}

.grid .col-start-1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
}

.grid .col-end-1 {
  grid-column-end: 1;
}

.grid .col-start-2 {
  -ms-grid-column: 2;
      grid-column-start: 2;
}

.grid .col-end-2 {
  grid-column-end: 2;
}

.grid .col-start-3 {
  -ms-grid-column: 3;
      grid-column-start: 3;
}

.grid .col-end-3 {
  grid-column-end: 3;
}

.grid .col-start-4 {
  -ms-grid-column: 4;
      grid-column-start: 4;
}

.grid .col-end-4 {
  grid-column-end: 4;
}

.grid .col-start-5 {
  -ms-grid-column: 5;
      grid-column-start: 5;
}

.grid .col-end-5 {
  grid-column-end: 5;
}

.grid .col-start-6 {
  -ms-grid-column: 6;
      grid-column-start: 6;
}

.grid .col-end-6 {
  grid-column-end: 6;
}

.grid .col-start-7 {
  -ms-grid-column: 7;
      grid-column-start: 7;
}

.grid .col-end-7 {
  grid-column-end: 7;
}

.grid .col-start-8 {
  -ms-grid-column: 8;
      grid-column-start: 8;
}

.grid .col-end-8 {
  grid-column-end: 8;
}

.grid .col-start-9 {
  -ms-grid-column: 9;
      grid-column-start: 9;
}

.grid .col-end-9 {
  grid-column-end: 9;
}

.grid .col-start-10 {
  -ms-grid-column: 10;
      grid-column-start: 10;
}

.grid .col-end-10 {
  grid-column-end: 10;
}

.grid .col-start-11 {
  -ms-grid-column: 11;
      grid-column-start: 11;
}

.grid .col-end-11 {
  grid-column-end: 11;
}

.grid .col-start-12 {
  -ms-grid-column: 12;
      grid-column-start: 12;
}

.grid .col-end-12 {
  grid-column-end: 12;
}

.grid .col-start-13 {
  -ms-grid-column: 13;
      grid-column-start: 13;
}

.grid .col-end-13 {
  grid-column-end: 13;
}

@media (min-width: 641px) and (max-width: 1024px) {
  .grid.md-grid-cols-none {
    -ms-grid-columns: none;
        grid-template-columns: none;
  }
  .grid.md-grid-cols-1 {
    -ms-grid-columns: (minmax(0, 1fr))[1];
        grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .grid.md-grid-cols-2 {
    -ms-grid-columns: (minmax(0, 2fr))[2];
        grid-template-columns: repeat(2, minmax(0, 2fr));
  }
  .grid.md-grid-cols-3 {
    -ms-grid-columns: (minmax(0, 3fr))[3];
        grid-template-columns: repeat(3, minmax(0, 3fr));
  }
  .grid.md-grid-cols-4 {
    -ms-grid-columns: (minmax(0, 4fr))[4];
        grid-template-columns: repeat(4, minmax(0, 4fr));
  }
  .grid.md-grid-cols-5 {
    -ms-grid-columns: (minmax(0, 5fr))[5];
        grid-template-columns: repeat(5, minmax(0, 5fr));
  }
  .grid.md-grid-cols-6 {
    -ms-grid-columns: (minmax(0, 6fr))[6];
        grid-template-columns: repeat(6, minmax(0, 6fr));
  }
  .grid.md-grid-cols-7 {
    -ms-grid-columns: (minmax(0, 7fr))[7];
        grid-template-columns: repeat(7, minmax(0, 7fr));
  }
  .grid.md-grid-cols-8 {
    -ms-grid-columns: (minmax(0, 8fr))[8];
        grid-template-columns: repeat(8, minmax(0, 8fr));
  }
  .grid.md-grid-cols-9 {
    -ms-grid-columns: (minmax(0, 9fr))[9];
        grid-template-columns: repeat(9, minmax(0, 9fr));
  }
  .grid.md-grid-cols-10 {
    -ms-grid-columns: (minmax(0, 10fr))[10];
        grid-template-columns: repeat(10, minmax(0, 10fr));
  }
  .grid.md-grid-cols-11 {
    -ms-grid-columns: (minmax(0, 11fr))[11];
        grid-template-columns: repeat(11, minmax(0, 11fr));
  }
  .grid.md-grid-cols-12 {
    -ms-grid-columns: (minmax(0, 12fr))[12];
        grid-template-columns: repeat(12, minmax(0, 12fr));
  }
  .grid.md-gap-0 {
    gap: 0rem;
  }
  .grid.md-gap-x-0 {
    -webkit-column-gap: 0rem;
            column-gap: 0rem;
  }
  .grid.md-gap-y-0 {
    row-gap: 0rem;
  }
  .grid.md-gap-1 {
    gap: 0.4rem;
  }
  .grid.md-gap-x-1 {
    -webkit-column-gap: 0.4rem;
            column-gap: 0.4rem;
  }
  .grid.md-gap-y-1 {
    row-gap: 0.4rem;
  }
  .grid.md-gap-2 {
    gap: 0.8rem;
  }
  .grid.md-gap-x-2 {
    -webkit-column-gap: 0.8rem;
            column-gap: 0.8rem;
  }
  .grid.md-gap-y-2 {
    row-gap: 0.8rem;
  }
  .grid.md-gap-3 {
    gap: 1.2rem;
  }
  .grid.md-gap-x-3 {
    -webkit-column-gap: 1.2rem;
            column-gap: 1.2rem;
  }
  .grid.md-gap-y-3 {
    row-gap: 1.2rem;
  }
  .grid.md-gap-4 {
    gap: 1.6rem;
  }
  .grid.md-gap-x-4 {
    -webkit-column-gap: 1.6rem;
            column-gap: 1.6rem;
  }
  .grid.md-gap-y-4 {
    row-gap: 1.6rem;
  }
  .grid.md-gap-5 {
    gap: 2rem;
  }
  .grid.md-gap-x-5 {
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
  .grid.md-gap-y-5 {
    row-gap: 2rem;
  }
  .grid.md-gap-6 {
    gap: 2.4rem;
  }
  .grid.md-gap-x-6 {
    -webkit-column-gap: 2.4rem;
            column-gap: 2.4rem;
  }
  .grid.md-gap-y-6 {
    row-gap: 2.4rem;
  }
  .grid.md-gap-7 {
    gap: 2.8rem;
  }
  .grid.md-gap-x-7 {
    -webkit-column-gap: 2.8rem;
            column-gap: 2.8rem;
  }
  .grid.md-gap-y-7 {
    row-gap: 2.8rem;
  }
  .grid.md-gap-8 {
    gap: 3.2rem;
  }
  .grid.md-gap-x-8 {
    -webkit-column-gap: 3.2rem;
            column-gap: 3.2rem;
  }
  .grid.md-gap-y-8 {
    row-gap: 3.2rem;
  }
  .grid.md-gap-9 {
    gap: 3.6rem;
  }
  .grid.md-gap-x-9 {
    -webkit-column-gap: 3.6rem;
            column-gap: 3.6rem;
  }
  .grid.md-gap-y-9 {
    row-gap: 3.6rem;
  }
  .grid.md-gap-10 {
    gap: 4rem;
  }
  .grid.md-gap-x-10 {
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
  }
  .grid.md-gap-y-10 {
    row-gap: 4rem;
  }
  .grid.md-gap-11 {
    gap: 4.4rem;
  }
  .grid.md-gap-x-11 {
    -webkit-column-gap: 4.4rem;
            column-gap: 4.4rem;
  }
  .grid.md-gap-y-11 {
    row-gap: 4.4rem;
  }
  .grid.md-gap-12 {
    gap: 4.8rem;
  }
  .grid.md-gap-x-12 {
    -webkit-column-gap: 4.8rem;
            column-gap: 4.8rem;
  }
  .grid.md-gap-y-12 {
    row-gap: 4.8rem;
  }
  .grid .md-col-auto {
    grid-column: auto;
  }
  .grid .md-col-start-auto {
    -ms-grid-column: auto;
        grid-column-start: auto;
  }
  .grid .md-col-end-auto {
    grid-column-end: auto;
  }
  .grid .md-col-span-full {
    grid-column: 1/-1;
  }
  .grid .md-col-span-0 {
    display: none;
  }
  .grid .md-col-span-1 {
    display: block;
    grid-column: span 1/span 1;
  }
  .grid .md-col-span-2 {
    display: block;
    grid-column: span 2/span 2;
  }
  .grid .md-col-span-3 {
    display: block;
    grid-column: span 3/span 3;
  }
  .grid .md-col-span-4 {
    display: block;
    grid-column: span 4/span 4;
  }
  .grid .md-col-span-5 {
    display: block;
    grid-column: span 5/span 5;
  }
  .grid .md-col-span-6 {
    display: block;
    grid-column: span 6/span 6;
  }
  .grid .md-col-span-7 {
    display: block;
    grid-column: span 7/span 7;
  }
  .grid .md-col-span-8 {
    display: block;
    grid-column: span 8/span 8;
  }
  .grid .md-col-span-9 {
    display: block;
    grid-column: span 9/span 9;
  }
  .grid .md-col-span-10 {
    display: block;
    grid-column: span 10/span 10;
  }
  .grid .md-col-span-11 {
    display: block;
    grid-column: span 11/span 11;
  }
  .grid .md-col-span-12 {
    display: block;
    grid-column: span 12/span 12;
  }
  .grid .md-col-start-1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  .grid .md-col-end-1 {
    grid-column-end: 1;
  }
  .grid .md-col-start-2 {
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
  .grid .md-col-end-2 {
    grid-column-end: 2;
  }
  .grid .md-col-start-3 {
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
  .grid .md-col-end-3 {
    grid-column-end: 3;
  }
  .grid .md-col-start-4 {
    -ms-grid-column: 4;
        grid-column-start: 4;
  }
  .grid .md-col-end-4 {
    grid-column-end: 4;
  }
  .grid .md-col-start-5 {
    -ms-grid-column: 5;
        grid-column-start: 5;
  }
  .grid .md-col-end-5 {
    grid-column-end: 5;
  }
  .grid .md-col-start-6 {
    -ms-grid-column: 6;
        grid-column-start: 6;
  }
  .grid .md-col-end-6 {
    grid-column-end: 6;
  }
  .grid .md-col-start-7 {
    -ms-grid-column: 7;
        grid-column-start: 7;
  }
  .grid .md-col-end-7 {
    grid-column-end: 7;
  }
  .grid .md-col-start-8 {
    -ms-grid-column: 8;
        grid-column-start: 8;
  }
  .grid .md-col-end-8 {
    grid-column-end: 8;
  }
  .grid .md-col-start-9 {
    -ms-grid-column: 9;
        grid-column-start: 9;
  }
  .grid .md-col-end-9 {
    grid-column-end: 9;
  }
  .grid .md-col-start-10 {
    -ms-grid-column: 10;
        grid-column-start: 10;
  }
  .grid .md-col-end-10 {
    grid-column-end: 10;
  }
  .grid .md-col-start-11 {
    -ms-grid-column: 11;
        grid-column-start: 11;
  }
  .grid .md-col-end-11 {
    grid-column-end: 11;
  }
  .grid .md-col-start-12 {
    -ms-grid-column: 12;
        grid-column-start: 12;
  }
  .grid .md-col-end-12 {
    grid-column-end: 12;
  }
  .grid .md-col-start-13 {
    -ms-grid-column: 13;
        grid-column-start: 13;
  }
  .grid .md-col-end-13 {
    grid-column-end: 13;
  }
}

@media (min-width: 1025px) {
  .grid.lg-grid-cols-none {
    -ms-grid-columns: none;
        grid-template-columns: none;
  }
  .grid.lg-grid-cols-1 {
    -ms-grid-columns: (minmax(0, 1fr))[1];
        grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .grid.lg-grid-cols-2 {
    -ms-grid-columns: (minmax(0, 2fr))[2];
        grid-template-columns: repeat(2, minmax(0, 2fr));
  }
  .grid.lg-grid-cols-3 {
    -ms-grid-columns: (minmax(0, 3fr))[3];
        grid-template-columns: repeat(3, minmax(0, 3fr));
  }
  .grid.lg-grid-cols-4 {
    -ms-grid-columns: (minmax(0, 4fr))[4];
        grid-template-columns: repeat(4, minmax(0, 4fr));
  }
  .grid.lg-grid-cols-5 {
    -ms-grid-columns: (minmax(0, 5fr))[5];
        grid-template-columns: repeat(5, minmax(0, 5fr));
  }
  .grid.lg-grid-cols-6 {
    -ms-grid-columns: (minmax(0, 6fr))[6];
        grid-template-columns: repeat(6, minmax(0, 6fr));
  }
  .grid.lg-grid-cols-7 {
    -ms-grid-columns: (minmax(0, 7fr))[7];
        grid-template-columns: repeat(7, minmax(0, 7fr));
  }
  .grid.lg-grid-cols-8 {
    -ms-grid-columns: (minmax(0, 8fr))[8];
        grid-template-columns: repeat(8, minmax(0, 8fr));
  }
  .grid.lg-grid-cols-9 {
    -ms-grid-columns: (minmax(0, 9fr))[9];
        grid-template-columns: repeat(9, minmax(0, 9fr));
  }
  .grid.lg-grid-cols-10 {
    -ms-grid-columns: (minmax(0, 10fr))[10];
        grid-template-columns: repeat(10, minmax(0, 10fr));
  }
  .grid.lg-grid-cols-11 {
    -ms-grid-columns: (minmax(0, 11fr))[11];
        grid-template-columns: repeat(11, minmax(0, 11fr));
  }
  .grid.lg-grid-cols-12 {
    -ms-grid-columns: (minmax(0, 12fr))[12];
        grid-template-columns: repeat(12, minmax(0, 12fr));
  }
  .grid.lg-gap-0 {
    gap: 0rem;
  }
  .grid.lg-gap-x-0 {
    -webkit-column-gap: 0rem;
            column-gap: 0rem;
  }
  .grid.lg-gap-y-0 {
    row-gap: 0rem;
  }
  .grid.lg-gap-1 {
    gap: 0.4rem;
  }
  .grid.lg-gap-x-1 {
    -webkit-column-gap: 0.4rem;
            column-gap: 0.4rem;
  }
  .grid.lg-gap-y-1 {
    row-gap: 0.4rem;
  }
  .grid.lg-gap-2 {
    gap: 0.8rem;
  }
  .grid.lg-gap-x-2 {
    -webkit-column-gap: 0.8rem;
            column-gap: 0.8rem;
  }
  .grid.lg-gap-y-2 {
    row-gap: 0.8rem;
  }
  .grid.lg-gap-3 {
    gap: 1.2rem;
  }
  .grid.lg-gap-x-3 {
    -webkit-column-gap: 1.2rem;
            column-gap: 1.2rem;
  }
  .grid.lg-gap-y-3 {
    row-gap: 1.2rem;
  }
  .grid.lg-gap-4 {
    gap: 1.6rem;
  }
  .grid.lg-gap-x-4 {
    -webkit-column-gap: 1.6rem;
            column-gap: 1.6rem;
  }
  .grid.lg-gap-y-4 {
    row-gap: 1.6rem;
  }
  .grid.lg-gap-5 {
    gap: 2rem;
  }
  .grid.lg-gap-x-5 {
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
  .grid.lg-gap-y-5 {
    row-gap: 2rem;
  }
  .grid.lg-gap-6 {
    gap: 2.4rem;
  }
  .grid.lg-gap-x-6 {
    -webkit-column-gap: 2.4rem;
            column-gap: 2.4rem;
  }
  .grid.lg-gap-y-6 {
    row-gap: 2.4rem;
  }
  .grid.lg-gap-7 {
    gap: 2.8rem;
  }
  .grid.lg-gap-x-7 {
    -webkit-column-gap: 2.8rem;
            column-gap: 2.8rem;
  }
  .grid.lg-gap-y-7 {
    row-gap: 2.8rem;
  }
  .grid.lg-gap-8 {
    gap: 3.2rem;
  }
  .grid.lg-gap-x-8 {
    -webkit-column-gap: 3.2rem;
            column-gap: 3.2rem;
  }
  .grid.lg-gap-y-8 {
    row-gap: 3.2rem;
  }
  .grid.lg-gap-9 {
    gap: 3.6rem;
  }
  .grid.lg-gap-x-9 {
    -webkit-column-gap: 3.6rem;
            column-gap: 3.6rem;
  }
  .grid.lg-gap-y-9 {
    row-gap: 3.6rem;
  }
  .grid.lg-gap-10 {
    gap: 4rem;
  }
  .grid.lg-gap-x-10 {
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
  }
  .grid.lg-gap-y-10 {
    row-gap: 4rem;
  }
  .grid.lg-gap-11 {
    gap: 4.4rem;
  }
  .grid.lg-gap-x-11 {
    -webkit-column-gap: 4.4rem;
            column-gap: 4.4rem;
  }
  .grid.lg-gap-y-11 {
    row-gap: 4.4rem;
  }
  .grid.lg-gap-12 {
    gap: 4.8rem;
  }
  .grid.lg-gap-x-12 {
    -webkit-column-gap: 4.8rem;
            column-gap: 4.8rem;
  }
  .grid.lg-gap-y-12 {
    row-gap: 4.8rem;
  }
  .grid .lg-col-auto {
    grid-column: auto;
  }
  .grid .lg-col-start-auto {
    -ms-grid-column: auto;
        grid-column-start: auto;
  }
  .grid .lg-col-end-auto {
    grid-column-end: auto;
  }
  .grid .lg-col-span-full {
    grid-column: 1/-1;
  }
  .grid .lg-col-span-0 {
    display: none;
  }
  .grid .lg-col-span-1 {
    grid-column: span 1/span 1;
    display: block;
  }
  .grid .lg-col-span-2 {
    grid-column: span 2/span 2;
    display: block;
  }
  .grid .lg-col-span-3 {
    grid-column: span 3/span 3;
    display: block;
  }
  .grid .lg-col-span-4 {
    grid-column: span 4/span 4;
    display: block;
  }
  .grid .lg-col-span-5 {
    grid-column: span 5/span 5;
    display: block;
  }
  .grid .lg-col-span-6 {
    grid-column: span 6/span 6;
    display: block;
  }
  .grid .lg-col-span-7 {
    grid-column: span 7/span 7;
    display: block;
  }
  .grid .lg-col-span-8 {
    grid-column: span 8/span 8;
    display: block;
  }
  .grid .lg-col-span-9 {
    grid-column: span 9/span 9;
    display: block;
  }
  .grid .lg-col-span-10 {
    grid-column: span 10/span 10;
    display: block;
  }
  .grid .lg-col-span-11 {
    grid-column: span 11/span 11;
    display: block;
  }
  .grid .lg-col-span-12 {
    grid-column: span 12/span 12;
    display: block;
  }
  .grid .lg-col-start-1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  .grid .lg-col-end-1 {
    grid-column-end: 1;
  }
  .grid .lg-col-start-2 {
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
  .grid .lg-col-end-2 {
    grid-column-end: 2;
  }
  .grid .lg-col-start-3 {
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
  .grid .lg-col-end-3 {
    grid-column-end: 3;
  }
  .grid .lg-col-start-4 {
    -ms-grid-column: 4;
        grid-column-start: 4;
  }
  .grid .lg-col-end-4 {
    grid-column-end: 4;
  }
  .grid .lg-col-start-5 {
    -ms-grid-column: 5;
        grid-column-start: 5;
  }
  .grid .lg-col-end-5 {
    grid-column-end: 5;
  }
  .grid .lg-col-start-6 {
    -ms-grid-column: 6;
        grid-column-start: 6;
  }
  .grid .lg-col-end-6 {
    grid-column-end: 6;
  }
  .grid .lg-col-start-7 {
    -ms-grid-column: 7;
        grid-column-start: 7;
  }
  .grid .lg-col-end-7 {
    grid-column-end: 7;
  }
  .grid .lg-col-start-8 {
    -ms-grid-column: 8;
        grid-column-start: 8;
  }
  .grid .lg-col-end-8 {
    grid-column-end: 8;
  }
  .grid .lg-col-start-9 {
    -ms-grid-column: 9;
        grid-column-start: 9;
  }
  .grid .lg-col-end-9 {
    grid-column-end: 9;
  }
  .grid .lg-col-start-10 {
    -ms-grid-column: 10;
        grid-column-start: 10;
  }
  .grid .lg-col-end-10 {
    grid-column-end: 10;
  }
  .grid .lg-col-start-11 {
    -ms-grid-column: 11;
        grid-column-start: 11;
  }
  .grid .lg-col-end-11 {
    grid-column-end: 11;
  }
  .grid .lg-col-start-12 {
    -ms-grid-column: 12;
        grid-column-start: 12;
  }
  .grid .lg-col-end-12 {
    grid-column-end: 12;
  }
  .grid .lg-col-start-13 {
    -ms-grid-column: 13;
        grid-column-start: 13;
  }
  .grid .lg-col-end-13 {
    grid-column-end: 13;
  }
}
/*# sourceMappingURL=grid.css.map */