.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}
.container-fluid{
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}
.grid {
    display: grid;

    // --------------grid-tamplate-columns---------------------
    &.grid-cols {
        &-none {
            grid-template-columns: none;
        }
        @for $nbCols from 1 through 12 {
            &-#{$nbCols} {
                grid-template-columns: repeat($nbCols, minmax(0, #{$nbCols}fr));
            }
        }
    }
   
    // --------------gap----------------------------------------
    &.gap {
        @for $gap from 0 through 12 {
            &-#{$gap} {
                gap: $gap * 0.4rem;
            }
            &-x-#{$gap} {
                column-gap: $gap * 0.4rem;
            }
            &-y-#{$gap} {
                row-gap: $gap * 0.4rem;
            }
        }
    }

     // --------------grid-column -- grid-column-start -- grid-column-end-------------------------
     .col {
        &-auto {
            grid-column: auto;
        }
        &-start-auto {
            grid-column-start: auto;
        }
        &-end-auto {
            grid-column-end: auto;
        }
        &-span-full {
            grid-column: 1/-1;
        }

        @for $nbSpan from 0 through 12 {
            @if $nbSpan == 0 {
                &-span-#{$nbSpan} {
                    display: none;
                }
            }@else {
                &-span-#{$nbSpan} {
                        display: block;
                        grid-column: span $nbSpan / span $nbSpan;
                }
            }
        }

        @for $nbSt-End from 1 through 13 {
            // start
            &-start-#{$nbSt-End} {
                grid-column-start: $nbSt-End;
            }

            // end
            &-end-#{$nbSt-End} {
                grid-column-end: $nbSt-End;
            }
        }
    }


    // tablet -> pc low
    @media (min-width: 641px) and (max-width: 1024px) {
        // --------------grid-tamplate-columns---------------------
        &.md-grid-cols {
            &-none {
                grid-template-columns: none;
            }
            @for $nbCols from 1 through 12 {
                &-#{$nbCols} {
                    grid-template-columns: repeat($nbCols, minmax(0, #{$nbCols}fr));
                }
            }
        }
        // --------------gap----------------------------------------
        &.md-gap {
            @for $gap from 0 through 12 {
                &-#{$gap} {
                    gap: $gap * 0.4rem;
                }
                &-x-#{$gap} {
                    column-gap: $gap * 0.4rem;
                }
                &-y-#{$gap} {
                    row-gap: $gap * 0.4rem;
                }
            }
        }

        // --------------grid-column -- grid-column-start -- grid-column-end-------------------------
        .md-col {
            &-auto {
                grid-column: auto;
            }
            &-start-auto {
                grid-column-start: auto;
            }
            &-end-auto {
                grid-column-end: auto;
            }
            &-span-full {
                grid-column: 1/-1;
            }

            @for $nbSpan from 0 through 12 {
                @if $nbSpan == 0 {
                    &-span-#{$nbSpan} {
                        display: none;
                    }
                }@else {
                    &-span-#{$nbSpan} {
                        display: block;
                        grid-column: span $nbSpan / span $nbSpan;
                    }
                }
            }

            @for $nbSt-End from 1 through 13 {
                // start
                &-start-#{$nbSt-End} {
                    grid-column-start: $nbSt-End;
                }

                // end
                &-end-#{$nbSt-End} {
                    grid-column-end: $nbSt-End;
                }
            }
        }
  
    }

    // >= pc 
    @media (min-width: 1025px) {
        // --------------grid-tamplate-columns---------------------
        &.lg-grid-cols {
            &-none {
                grid-template-columns: none;
            }
            @for $nbCols from 1 through 12 {
                &-#{$nbCols} {
                    grid-template-columns: repeat($nbCols, minmax(0, #{$nbCols}fr));
                }
            }
        }
        // --------------gap----------------------------------------
        &.lg-gap {
            @for $gap from 0 through 12 {
                &-#{$gap} {
                    gap: $gap * 0.4rem;
                }
                &-x-#{$gap} {
                    column-gap: $gap * 0.4rem;
                }
                &-y-#{$gap} {
                    row-gap: $gap * 0.4rem;
                }
            }
        }

        // --------------grid-column -- grid-column-start -- grid-column-end-------------------------
        .lg-col {
            &-auto {
                grid-column: auto;
            }
            &-start-auto {
                grid-column-start: auto;
            }
            &-end-auto {
                grid-column-end: auto;
            }
            &-span-full {
                grid-column: 1/-1;
            }

            @for $nbSpan from 0 through 12 {

                @if $nbSpan == 0 {
                    &-span-#{$nbSpan} {
                        display: none;
                    }
                }@else {
                    &-span-#{$nbSpan} {
                        grid-column: span $nbSpan / span $nbSpan;
                        display: block;
                    }
                }
            }

            @for $nbSt-End from 1 through 13 {
                // start
                &-start-#{$nbSt-End} {
                    grid-column-start: $nbSt-End;
                }

                // end
                &-end-#{$nbSt-End} {
                    grid-column-end: $nbSt-End;
                }
            }
        }
    
    }
}