/*===Box Sizing==*/

* {
  box-sizing: border-content;
  -moz-box-sizing: border-content;
  -webkit-box-sizing: border-content;
}

/*==Thiết lập container==*/
.container-1 {
  width: 300px;
  float: right;
  padding: 2px;
  overflow: auto;
}




/*==cột #sidebar==*/
#sidebar {
 
  height: 100%;
  margin-right: 17px;
  float: right;
}
#sidebar:hover{
  
  opacity: 50;
  color: black
}
 

.navbar-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
  text-decoration: none;
}
.dropdown{
  display: block;
  background-color:#f24645;
  padding: 10px 14px;
  color: black;
  margin: 5px;
  border-radius: 5px;
}
#navbardrop{
 color: white;
 font-weight: bold;
 cursor: pointer;
}
.dropdown-menu{
  display: none;
  position: absolute;
  background-color: #ebc08d;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}






/* thanh tìm kiếm **/
.box {
    height: 60px;
    background-color: #00a6ad;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
   
  input {
    background: none;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    width: 0px;
    transition: 0.8s ease;
    color: whitesmoke;
    font-size: 18px;
    font-weight: 600;
  }
   
  
  .box a {
    color: white;
    text-align: center;
    width: 60px;
    font-size: 24px;
  }
  
 
  .box:hover input {
    width: 220px;
    margin: 0 20px;
    border-bottom: 2px solid darkslategray;
  }
  input:focus {
    width: 200px;
    margin: 0 20px;
    border-bottom: 2px solid  darkslategray;
  }
  input::placeholder {
    color: darkslategray;
  }
  .hover {
    overflow: hidden;
    position: relative;
    padding-bottom: 60%;
  }
  
  .hover-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    transition: all 0.4s;
  }
  
  .hover img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
    height: 100%;
  }
  .hover-5::after {
    content: '';
    width: 100%;
    height: 10px;
    background: #47c650;
    position: absolute;
    bottom: -10px;
    left: 0;
    display: block;
    transition: all 0.3s;
    z-index: 999;
  }
  
  .hover-5 .hover-overlay {
    background: rgba(0, 0, 0, 0.4);
  }
  
  .hover-5-tieude {
    position: absolute;
    bottom: 1rem;
    left: 0;
    transition: all 0.3s;
    padding: 2rem 3rem;
    z-index: 99;
  }
  
  .hover-5-tieude span {
    transition: all 0.4s;
    opacity: 0;
    color: #47c650;
  }
  
  .hover-5:hover .hover-overlay {
    background: rgba(0, 0, 0, 0.8);
  }
  
  .hover-5:hover .hover-5-tieude {
    bottom: 0;
  }
  
  .hover-5:hover .hover-5-tieude span {
    opacity: 1;
  }
  
  .hover-5:hover::after {
    bottom: 0;
  }